html, body {
  text-align: center;
  background: rgb(28, 95, 30);
}

.App {
  padding: 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Cards styles */
#card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.20s;
  transition-timing-function: ease-in-out;
}

.back  {
  transform: rotateY(180deg);
}

/* Stack front and back elements over each other */
.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.container {
  perspective: 400px;
  position: relative;
  z-index: 1;
}
/* 
.deck-container div  {
  display: flex;
  background: red;
} */
